html {
  /* font-size: 12px; */
  font-family: Lexend;
  /* width: 500px; */
  /* max-width: 500px; */
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0deg 0% 94%);
  border: 1px solid hsl(0deg 0% 76%);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max(50vw, 500px);
}
.hide {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}
.title {
  white-space: nowrap;
  font-size: 1.65rem;
}

.buffer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}

.form-label {
  font-weight: 600;
}
.input-group-text * {
  color: hsl(0deg 0% 67%);
}
